.topBar{
    height:32px;
    background-color:#F7F7F7;
    line-height:30px;
}
.topBar a:hover{
    color:red;
}
.comWidth{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
}

body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{margin: 0; padding:0;}
body{font-size:12px;}
img{border:none;}
li{list-style: none;}
input,select,textarea{outline: none;border: none;background: none;}
textarea{resize: none;}
a{text-decoration: none;color: #656565;}
/*清除浮动*/
/*.clearfix:after{content: "";display: block;clear: both;}*/
/*.clearfix{zoom:1}*/
.fl{float: left;}

.leftArea{
    float:left;
}

.rightArea{
    float:right;
}
.fr{
    float: right;
}


.fore1{
    position: relative;
    float: right;
    /*color: #F7F7F7;*/
    width:60px;
    height: 28px;
    font-size: 12px;
    border-style: solid;
    border-color: white;
    border-right-color: white;
    border-right-width: thin;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    clear-side: both;
}
.shopCar{
    width:10px;
    height: 10px;
    background-color:#FF8800;
    margin-top:10px;
    text-align: center;
    line-height:30px;
}

.logoBar{
    height:85px;
    background-color: white;
}

.logo{
    padding-left:41px;
    padding-top:5px;
}

.company_logo{
    heigth: 30px;
    width: 120px;
}

.searchBox{
    width:500px;
    height: 40px;
    margin-top: 20px;
    margin-left: 100px;
    border: 1px solid #FF8C00;
}

.search_text{
    width:428px;
    height:38px;
    line-height: 35px\9;
    border: 1px solid #FF8C00;
    background-color:#FFF;
    font-size:14px;
    font-family: 微软雅黑;
}

.search_btn{
    width:70px;
    height:40px;
    font-size:14px;
    font-family: 微软雅黑;
    font-style: normal;
    background-color:#FF8C00;
}

.navBox{
    height:35px;
    color: #1d1d1d;
    border: 0px;
    font-family: 微软雅黑;
    font-size: 12px;
    background-color: #bce8f1;
}
.navBox a:hover{
    text-decoration: underline;
    font-weight: bold;
    color: #e4393c;
}
.nav,.shopClass h3{
    font-family: 微软雅黑;
}

.nav{
    line-height:35px;
    color: black;
}

.nav li{
    float:left;
    color: black;
}

.nav a{
    height:35px;
    display:inline-block;
    padding:0 35px;
    color:black;
}

.nav .active{
    background-color:#4593FD;
}

.navList{
    height: 400px;
    margin-top: 0px;
}

.topmenu
{
    height: 372px;
    display: block;
    float: left;
    position: relative;
    width: 220px;
    border: 2px solid red;
    /*margin: 0;*/
    padding: 0;
    margin-left: 50px;
    margin-top: 0px;
}
.toptitle
{
    height: 40px;
    line-height: 40px;
    text-align: left;
    font-size: 11pt;
    font-weight: bold;
    font-family: 微软雅黑;
    background: white;
    padding-left: 20px;
}
.topmenu li
{
    height: 30px;
    line-height: 30px;
    font-size: 11pt;
    list-style-type: none;
    text-align: left;
    padding-left: 8px;
    z-index: 3;
    background-repeat: no-repeat;
    background-position: right;
}
.topmenu li a
{
    text-decoration: none;
    color: #313131;
}
.topmenu li a:hover
{
    text-decoration: underline;
    font-weight: normal;
    color: #e4393c;
}
.topmenu .lihover /*鼠标移动到上面时，应用的样式*/
{
    border: 0px solid #DDD;
    border-right: 0;
    box-shadow: 0 0 8px #DDD;
    -moz-box-shadow: 0 0 8px #DDD;
    -webkit-box-shadow: 0 0 8px #DDD;
    background-image: none;
    /*height:60px;*/
    border-left:0px solid #e4393c;
}
.topmenu .lihover .submenu /*悬浮层*/
{
    display: block;
}

.topmenu .lihover span /*白色小方框*/
{
    background: white;
    display: inline-block;
    z-index: 20;
    width: 20px;
    height: 60px;
    float: right;
    position: relative;

}

.topmenu .lihover b
{
    display:block;
    height:30px;
    line-height:30px;
    font-weight:normal;
    font-size:10pt;
}
.submenu
{
    display: none;
    /*width: 730px;*/
    overflow: hidden;
    left: 220px;
    top: 0px;
    position: absolute;
    border: 1px solid #DDD;
    z-index: 4;
    background: white;
    box-shadow: 0 0 8px #DDD;
    -moz-box-shadow: 0 0 8px #DDD;
    -webkit-box-shadow: 0 0 8px #DDD;
}
.leftdiv
{
    float: left;
    width: 490px;
    margin: 5px;
}
.rightdiv
{
    float: left;
    width: 200px;
    margin: 5px;
}

.leftdiv dl
{
    display: block;
    border-bottom: 1px solid #EEE;
    padding-bottom: 6px;
    overflow: hidden;
}
.leftdiv dl dt
{
    display: block;
    float: left;
    width: 70px;
    text-align: right;
    height: 22px;
    line-height: 22px;
    padding-right: 6px;
}

.leftdiv dl dt a
{
    color: #e4393c;
    font-weight: bold;
    text-decoration: underline;
    font-size: 10pt;
}
.leftdiv dl dd
{
    display: block;
    overflow: hidden;
}
.leftdiv dl dd a
{
    display: block;
    float: left;
    border-left: 1px solid #CCC;
    color: #737373;
    font-size: 9pt;
    padding: 0 8px;
    height: 14px;
    line-height: 14px;
    margin: 4px 0;
}

.rightdiv dl dd
{
    margin: 3px 0;
}

.rightdiv dl dt
{
    color: #e4393c;
    font-weight: bold;
    font-size: 10pt;
}

.rightdiv dl dd a
{
    font-size: 9pt;
    color: #737373;
    line-height: 22px;
}
.rightdiv dl dd a:hover
{
    color: #737373;
    font-weight: normal;
}

.topmenu li b
{
    display:none;
}

.rightPic
{
    position:relative;
    right:-35px;
    bottom:-20px;
}

/*ul{ list-style: none; }*/
#ads{
    /*width: 728px; */
    width: calc(100% - 540px) ;
    height: 370px;
    border: 3px solid #999;
    position: relative;
    float: left;
    margin-left: 0px;
}
#ads img{
    /*width: calc(100% - 100px);*/
    width: 100%;
    height: 370px;
    position: absolute;
    left: 0; top: 0;
    opacity: 0;
    animation-timing-function: linear;
    animation-duration:0.5s;
    animation-fill-mode:forwards;
}
#ads img.show{
    animation-name: show;
}
#ads img.unshow{
    animation-name: disapper;
}
#ads ul{
    position: absolute;
    bottom: 10px; left: 240px;
}
#ads ul li{
    width: 12px; height: 12px;
    float: left;
    background: rgba(255,255,255,0.7);
    margin-right: 8px;
    border-radius: 50%;
    cursor: pointer;
}
#ads ul li.active{ background: orange; }
@keyframes show{
    from{opacity: inherit; }
    to{opacity:1;}
}
@keyframes disappear{
    from{opacity:1;}
    to{opacity:0;}
}


.info_area{
    width: 200px;
    height:370px;
    background-color: #00c7c7;
    float: right;
    margin-right: 50px;
    border: 2px solid;
    border-radius:10px;
}

.hot{
    /*height: 600px;*/
    height: auto;
    background-color: white;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    position: relative;
    /*opacity: 0.7;*/
    border: 2px solid;
    border-radius: 10px;
    /*margin:0 auto;*/
    overflow:hidden
}

.hot .hot-title{
    font-family: '微软雅黑';
    font-size: 16px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 2px  solid black;
    /*background-color: black;*/
    height: 20px;
    width: calc(100% - 50px);
    float: left;
}

.content1{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width:140px;
    /*height: 180px;*/
    float: left;
    overflow: hidden;
}

.hot .cell{
    width: 140px;
    height: 180px;
    border: 1px solid;

}
.hot .book-img{
    width: 140px;
    height: 180px;
}
.hot .book-content{
    text-align: center;
}
.hot .book-title{

}
.hot .book-price{
    /*margin-bottom: 50px;*/
}


.back-to-top{
    width: 40px;position:fixed;bottom:100px;right:0px;border:solid 1px red ;cursor:pointer;text-align: center;color: black;
    opacity: 0.9;
    border-radius:5px;
    font-family: '微软雅黑';
    font-size: 14px;
}
.back-to-top a:hover{
    font-weight: bold;
    color: #e4393c;
}

.footer{
    /*float: bottom;*/
    /*position: absolute;*/
    text-align:center;
    vertical-align: middle;
    width: 100%;
    background-color:#D4D4D4;
    line-height:24px;
    padding:50px 0;
    bottom:0px
}

.footer i{
    font-style:normal;
    padding:0 5px;
}

.footer a{
    color:#000;
}

.footer a:hover{
    color:#F60;
}


.login_content .login_div table tr{height:100px; margin-bottom: 20px}
.login_content .login_div table input{height:98px;width:180px;border:1px solid #ddd;}
.login_div input{
    border: silver;
}


.reg_login{width:300px ;margin:10px auto 0 auto;border:5px solid #d7c2ac; margin-bottom: 20px;}
.reg_login .login{display:inline;width:500px;background-color: white; opacity: 0.68;border-right:1px dashed #ddd; }
.reg_login .login h1{margin:10px;}
.reg_login .login table{margin:20px 0;width:100%; border-collapse:separate; border-spacing:5px}
.reg_login .login table tr{height:55px; }
.reg_login .login table td{height:55px; border: 1px groove gainsboro ; border-radius: 5px; margin-top: 20px}
.reg_login .login table input{height:26px;width:180px;border:1px solid black;}
.reg_login .login table a{color:#00f;}

.reg_login .reg{float:right;display:inline;width:450px;height:360px;}
.reg_login .reg h1{margin:10px;}
.reg_login .reg table{margin:20px 0;width:100%;}
.reg_login .reg table tr{height:55px;}
.reg_login .reg table input{height:26px;width:180px;border:1px solid #ddd;}
.reg_login .reg table input.button{width:94px;height:27px;border:0;}
.reg_login .reg table span{color:#999;}

.reg_login table input.loginbutton,input.loginbutton{width:100%;height: 100%;border:0;cursor:pointer;font-size:18px;
    font-family: 微软雅黑;  text-align: center; vertical-align: middle;background-color: #D70000; opacity: 0.68}
.reg_login table input.regbutton,input.regbutton{width:154px;height:39px;border:0;cursor:pointer;}
.reg_login table input.searchpwdbutton{width:170px;height:50px;border:0;cursor:pointer;margin-top:10px;}